In [3]:
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn import datasets
import faker

#iris= datasets.load_iris()
import random
from datetime import datetime, date, timedelta

In [4]:
fake=faker.Faker()

In [5]:
#setosa dataset
iris = sns.load_dataset("iris")
df=iris.copy()
df["type"]=df.apply(lambda r : random.choice(["Tall","Short","River"]),axis=1)
df["priority"]=df.apply(lambda r : random.choice([1,2,3,4]),axis=1)
df["sample_date"]=df.apply(lambda x: fake.date_between("-6M"),axis=1).astype("datetime64")
df.sort_values("sample_date",ascending=True,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 136 to 127
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
 5   type          150 non-null    object
 6   priority      150 non-null    int64
 7   sample_date   150 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 10.5+ KB

In [6]:
df.head(20)

,sepal_length,sepal_width,petal_length,petal_width,species,type,priority,sample_date
136,6.3,3.4,5.6,2.4,virginica,River,4,2022-08-20
40,5.0,3.5,1.3,0.3,setosa,River,4,2022-08-21
121,5.6,2.8,4.9,2.0,virginica,River,3,2022-08-24
14,5.8,4.0,1.2,0.2,setosa,River,2,2022-08-24
0,5.1,3.5,1.4,0.2,setosa,River,3,2022-08-25
105,7.6,3.0,6.6,2.1,virginica,River,2,2022-08-25
49,5.0,3.3,1.4,0.2,setosa,Tall,3,2022-08-25
27,5.2,3.5,1.5,0.2,setosa,Short,3,2022-08-25
97,6.2,2.9,4.3,1.3,versicolor,River,4,2022-08-26
73,6.1,2.8,4.7,1.2,versicolor,River,1,2022-08-27
149,5.9,3.0,5.1,1.8,virginica,River,3,2022-08-27
28,5.2,3.4,1.4,0.2,setosa,Short,2,2022-08-30
47,4.6,3.2,1.4,0.2,setosa,River,4,2022-08-30
36,5.5,3.5,1.3,0.2,setosa,River,2,2022-08-31
134,6.1,2.6,5.6,1.4,virginica,River,3,2022-09-02
42,4.4,3.2,1.3,0.2,setosa,River,3,2022-09-02
8,4.4,2.9,1.4,0.2,setosa,Short,2,2022-09-04
84,5.4,3.0,4.5,1.5,versicolor,River,1,2022-09-05
115,6.4,3.2,5.3,2.3,virginica,River,3,2022-09-05
107,7.3,2.9,6.3,1.8,virginica,Short,3,2022-09-06

In [7]:
#df["month"]=df.sample_date.dt.year*100+df.sample_date.dt.month
dfg = df.groupby('sample_date').species.count().reset_index()
dfg

   sample_date  species
0   2022-08-20        1
1   2022-08-21        1
2   2022-08-24        2
3   2022-08-25        4
4   2022-08-26        1
..         ...      ...
91  2023-02-11        1
92  2023-02-13        2
93  2023-02-14        1
94  2023-02-15        1
95  2023-02-16        2

[96 rows x 2 columns]

In [10]:
dfg2 = df.groupby(df["sample_date"].dt.year*100+df["sample_date"].dt.month).species.cumcount()
dfg2

136     0
40      1
121     2
14      3
0       4
       ..
11     14
16     15
109    16
86     17
127    18
Length: 150, dtype: int64

In [10]:
RAYG={1:"Red",2:"Amber",3:"Yellow",4:"Green",5:"Blue"}
RAYG_r={4:"Red",3:"Amber",2:"Yellow",1:"Green",0:"Blue"}
RAYG_LABEL={1:"1. Red",2:"2. Amber",3:"3. Yellow",4:"4. Green",0:"0. Blue"}
RAYG_LABEL_r={4:"4. Red",3:"3. Amber",2:"2. Yellow",1:"1. Green",0:"0. Blue"}


df["priority_num"]=df["priority"].map(RAYG_LABEL)
df

,index,sepal_length,sepal_width,petal_length,petal_width,species,type,priority,priority_num
0,0,5.1,3.5,1.4,0.2,setosa,Tall,4,4. Green
1,1,4.9,3.0,1.4,0.2,setosa,Short,1,1. Red
2,2,4.7,3.2,1.3,0.2,setosa,River,4,4. Green
3,3,4.6,3.1,1.5,0.2,setosa,River,2,2. Amber
4,4,5.0,3.6,1.4,0.2,setosa,Tall,3,3. Yellow
...,...,...,...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,virginica,Short,4,4. Green
146,146,6.3,2.5,5.0,1.9,virginica,Short,4,4. Green
147,147,6.5,3.0,5.2,2.0,virginica,Tall,1,1. Red
148,148,6.2,3.4,5.4,2.3,virginica,River,4,4. Green
149,149,5.9,3.0,5.1,1.8,virginica,Short,3,3. Yellow